section {
  background: #2a3549;
  text-transform: capitalize;
  height: 100vh;
  overflow-y: scroll;
  .preparing,
  .ready {
    height: 100vh;
  }
  .ready {
    border-inline-start: 2px solid #9fb3df;
  }
  h2 {
    padding: 19px 0px 30px;
    font-size: 42px;
    text-shadow: 0px 3px #d3e0ff40;
    color: #d3e0ff;
  }
  .content {
    margin-top: 22px;
    .order {
      padding: 12px;
      border-radius: 4px;
      border: 1px solid #b7c3e0;
      background: #b7c3e0;
      box-shadow: 0px 1px 4px 1px #b7c3e052;
      color: #000;
      cursor: pointer;
      span {
        font-size: 22px;
        font-weight: 600;
      }
      i {
        font-size: 20px;
      }
    }
    .row {
      .col-2 {
        margin: 22px auto;
        padding-right: 8px;
        padding-left: 8px;
      }
    }
  }
}
.modal-dialog {
  position: absolute;
  right: 0px;
  width: 40%;
  top: 0px;
  margin: 0px;
  .modal-content {
    height: 100vh;
    border-radius: 0px;
    .modal-body {
      padding: 0.5rem 1rem;
      background: #f1f1f1dd;
      text-transform: capitalize;
      .widget {
        background: #fff;
        border-radius: 4px;
        padding: 8px;
        margin: 5px auto;
        .item {
          padding: 4px 6px;
        }
      }
      .total {
        padding: 4px 0px;
        .total-title {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
    .btn-primary {
      background-color: green;
      border-color: transparent;
      color: #fff;

      i {
        color: #fff !important;
      }
    }
    .btn-primary,
    .btn-secondary {
      font-size: 17px;
    }
  }
  .modal-footer {
    padding: 0rem 0.6rem 1rem;
  }
}
.fs-18 {
  font-size: 18px;
}
.active {
  background: #4f8dca;
  color: #fff;
  border-color: #4f8dca;
}
