.e-grid .e-rowcell:not(.e-editedbatchcell),
.e-grid .e-detailrowcollapse:not(.e-editedbatchcell),
.e-grid .e-detailrowexpand:not(.e-editedbatchcell),
.e-grid .e-gridcontent .e-rowdragdrop:not(.e-editedbatchcell),
.e-grid .e-gridheader .e-rowdragdrop:not(.e-editedbatchcell),
.e-grid .e-emptyrow:not(.e-editedbatchcell) {
  color: #000;
  opacity: 1;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid gray;
}

.navbar {
  border: 1px solid transparent !important;
}

.restaurantName4 svg {
  fill: #4f8dca !important;
}
.borderEditPagetrans {
  border-radius: 7px;
  border: 1px solid #dfdfdf;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent;
}

.reportTypeBtn .btnEdit {
  transition: all 0.2s;
  border: 1px solid darkgreen;
  background-color: #fff;
}
.reportTypeBtn .btnEdit:hover,
.reportTypeBtn .btnEdit:focus,
.reportTypeBtn.active .btnEdit {
  min-width: 80px !important;
  padding: 0.325rem 0.7rem !important;
  transform: scale(1.1);
  background-color: darkgreen;
  color: #fff;
}
.nav-link {
  padding: 0.5rem !important;
}
.Tabset .nav-tabs li {
  flex: 1 1 auto;
  max-width: fit-content;
  margin: 0 2px;
}

/* Hint banner for Products report */
.report-hint {
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  color: #856404;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

/* Highlight returned quantity column */
:host ::ng-deep .e-grid .returned-col {
  background-color: #ecc9c6;
  color: #a8071a;
  font-weight: 600;
}
:host ::ng-deep .returned-col-header {
  color: #a8071a;
  font-weight: 700;
}
@media (max-width: 1200px) { 
    :host ::ng-deep .modal-dialog {
            zoom: .6 !important;
        }

    :host ::ng-deep .modal-content {
            height: 100rem !important;
        }
}