$font-family: "Montserrat", sans-serif;
$secondary-font-family: "Lora", serif;
$theme-max-width: 1300px;
$top-toolbar-height: 36px;
$main-toolbar-height: 72px;
$user-menu-width: 220px;
$header-image-min-height: 360px;
$header-video-min-height: 360px;
$header-carousel-height: 560px;
$main-content-header-offset-to-top: 80px;

$main-sidenav-width: 250px;
$search-sidenav-width: 288px;

$admin-toolbar-height: 56px;
$admin-sidenav-width: 250px;
$sidenav-user-block-height: 156px;
.header-image-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: -2px;
  padding-top: calc($main-toolbar-height/2);
  .header-image-content {
    position: relative;
    min-height: $header-image-min-height;
    color: #fff;
    z-index: 1;
    &.offset-bottom {
      padding-bottom: $main-content-header-offset-to-top;
      min-height: $header-image-min-height + $main-content-header-offset-to-top;
    }
    &.home-page {
      min-height: $header-image-min-height + $main-content-header-offset-to-top + 80px;
    }
    .title {
      font-family: $secondary-font-family;
      font-size: 60px;
      padding: 0 16px;
      text-align: center;
    }
    .desc {
      margin: 0;
      font-size: 18px;
      padding: 0 16px;
      text-align: center;
      text-transform: uppercase;
      max-width: 70% !important;
    }
    .mat-raised-button {
      text-transform: uppercase;
      margin: 0 4px;
    }
  }
  .mask {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .bg {
    width: 110%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bg-anime {
    -webkit-animation-name: MOVE-BG;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-name: MOVE-BG;
    -moz-animation-duration: 15s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -ms-animation-name: MOVE-BG;
    -ms-animation-duration: 15s;
    -ms-animation-timing-function: ease-in-out;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: alternate;
    animation-name: MOVE-BG;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  &.fullscreen {
    // height: calc(100vh - #{$main-toolbar-height}) !important;
    height: 100vh !important;
    .header-image-content {
      height: calc(100vh - #{$main-toolbar-height}) !important;
    }
    &.toolbar-2 {
      height: calc(100vh - 196px) !important;
      .header-image-content {
        height: calc(100vh - 196px) !important;
      }
    }
  }
}

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-7%);
  }
}
@-moz-keyframes MOVE-BG {
  from {
    -moz-transform: translateX(0);
  }
  to {
    -moz-transform: translateX(-7%);
  }
}
@-ms-keyframes MOVE-BG {
  from {
    -ms-transform: translateX(0);
  }
  to {
    -ms-transform: translateX(-7%);
  }
}
@keyframes MOVE-BG {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-7%);
  }
}

.header-image-wrapper[dir="rtl"] {
  .bg-anime {
    -webkit-animation-name: MOVE-BG-RTL;
    -moz-animation-name: MOVE-BG-RTL;
    -ms-animation-name: MOVE-BG-RTL;
    animation-name: MOVE-BG-RTL;
  }
}

@-webkit-keyframes MOVE-BG-RTL {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(7%);
  }
}
@-moz-keyframes MOVE-BG-RTL {
  from {
    -moz-transform: translateX(0);
  }
  to {
    -moz-transform: translateX(7%);
  }
}
@-ms-keyframes MOVE-BG-RTL {
  from {
    -ms-transform: translateX(0);
  }
  to {
    -ms-transform: translateX(7%);
  }
}
@keyframes MOVE-BG-RTL {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(7%);
  }
}

// xs
@media screen and (max-width: 599px) {
  .header-image-wrapper {
    .header-image-content {
      min-height: $header-image-min-height - 80px;
      &.offset-bottom {
        min-height: $header-image-min-height + $main-content-header-offset-to-top - 80px;
      }
      &.home-page {
        min-height: $header-image-min-height + $main-content-header-offset-to-top;
      }
      .title {
        font-size: 36px;
      }
      .desc {
        font-size: 14px;
        max-width: 100% !important;
      }
    }
  }
}

// sm
@media screen and (min-width: 600px) and (max-width: 959px) {
  .header-image-wrapper {
    .header-image-content {
      min-height: $header-image-min-height - 40px;
      &.offset-bottom {
        min-height: $header-image-min-height + $main-content-header-offset-to-top - 40px;
      }
      &.home-page {
        min-height: $header-image-min-height + $main-content-header-offset-to-top + 40px;
      }
      .title {
        font-size: 48px;
      }
      .desc {
        font-size: 16px;
        max-width: 90% !important;
      }
    }
  }
}
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mat-raised-button.mat-primary {
  background-color: #c62828 !important;
}
.booking-table .modal-body .branch {
  background: #ddd;
  border-radius: 5px;
  padding: 15px 0px;
  color: #000;
  transition: all 0.5s;
  margin: 10px auto;
}
.booking-table .modal-body .branch:hover {
  background: #580e1a;
  color: #fff;
  transition: all 0.5s;
}
.booking-table .modal-header,
.booking-table-details .modal-header {
  background: #830d20d1;
  color: #fff;
}

.booking-table .modal-header .close,
.booking-table-details .modal-header .close {
  color: #fff;
}
.booking-table-details .modal-body {
  margin-top: 59px;
}
.booking-table-details .modal-body .restutant-info {
  text-align: center;
  margin: 20px auto;
}
.booking-table-details .modal-body .restutant-info .time-section {
  width: 22%;
  background: #83323f;
  color: #fff;
  padding: 10px 5px;
  border-radius: 5px;
  margin: 10px auto;
  font-size: 14px;
}
.booking-table-details .modal-body img {
  width: 25px;
  height: 20px;
  position: relative;
  bottom: -29px;
  margin-inline: 10px;
}
.booking-table-details .modal-body select {
  padding: 0.375rem 2rem;
  border-radius: 8px;
}
.booking-table-details .modal-body .date-input input {
  border-radius: 8px;
  margin-top: 25px;
}
.booking-table-details .modal-header {
  background: #830d20d1;
  color: #fff;
  position: fixed;
  width: 100%;
}
.booking-table-details .modal-body .calender-item {
  text-align: center;
}
.booking-table-details .modal-body .calender-item {
  border: 1px solid #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}
.booking-table-details .modal-body .calender-item .num {
  font-size: 16px;
}
.booking-table-details .modal-body .day-name-size {
  font-size: 18px;
  color: #000;
  font-family: serif;
}
.booking-table-details .modal-body .fa-circle {
  font-size: 7px;
  color: #18c918;
}
// .booking-table-details .modal-body .wish-list{
//     background: #83323f;
//     width: 23%;
//     padding: 10px;
//     border-radius: 5px;
//     color: #fff;
//     margin: 10px auto;
// }

.wishlist-modal .wishlist-info {
  text-align: center;
}
.wishlist-modal .wishlist-form {
  width: 65%;
  margin: 20px auto;
}
.wishlist-modal .wishlist-form .form-data {
  width: 85%;
}
.wishlist-modal .wishlist-form .form-data .input-time {
  width: 45%;
}
.wishlist-modal .wishlist-form .form-data input {
  border-radius: 7px;
}
.wishlist-modal .wishlist-form .form-data .to-time {
  margin-inline: 20px;
}
.wishlist-modal .wishlist-form .btn-wishlist {
  text-align: center;
}
.wishlist-modal .wishlist-form .btn-wishlist button,
.booking-table-details .wish-list .btn-wishlist button,
.booking-table-details .booking-info .booking-user-info button {
  text-transform: capitalize;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  outline: 0;
  transition: all 200ms ease-out;
  padding: 15px 20px;
  height: 50px;
  border: none;
  background: #83323f;
  border-radius: 10px;
  color: #fff;
}
.wishlist-modal .wishlist-form .btn-wishlist button:hover,
.booking-table-details .wish-list .btn-wishlist button:hover {
  background: #83323fe0;
}

.personal-info-modal .modal-content {
  width: 50%;
  margin: auto;
}
.personal-info-modal .modal-content .content h4,
.personal-info-modal .modal-content .content p {
  text-align: center;
}
.personal-info-modal .modal-header {
  border: 0px;
}
.fa-map-marker-alt {
  color: #c62828;
}
//active of calender
.active {
  border: 1px solid #000;
}
