.nav-tabs .nav-link {
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
p.restaurantName3 {
  color: #7a7a7a !important;
}
.active p.restaurantName3 {
  color: #5b4b92 !important;
}
.active {
  color: unset;
}
