
.navbar {
  border: 1px solid transparent !important;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}

.modal-backdrop.show {
  opacity: 0;
}

.ms-panel-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1111;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ms-panel-popup .ms-panel {
  max-width: 70%;
  width: 60%;
}

.ms-panel-popup .ms-panel .ms-panel-body { 
  max-width: 100%;
  max-height: 60vh;
  overflow: auto;
}
.ms-panel-popup .ms-panel .ms-panel-footer .btn,
.remind-modal .modal-footer  .btn{
  border-radius: 35px;
  font-size: 16px;
}

.ms-panel-popup .ms-panel .ms-panel-footer .btn-view,
.remind-modal .modal-footer .btn-view{
  background: #5dbb51;
  color: #fff;
}
.ms-panel-popup .ms-panel .ms-panel-footer .btn-close,
.remind-modal .modal-footer .btn-close{
  color: #fff;
  background-color: #e50f0f;
}
.ms-panel-popup .ms-panel .btn-filter{
  width: 100px;
}
.tab-content .form-label{
  font-family: 'Tajawal', sans-serif;
}
.tab-content .form-select {
  padding: 4px 8px;
  border: 1px solid #dddc;
  border-radius: 6px;
  color: #16364c;
  font-size: 16px;
  font-weight: 550;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.tab-content .cashier-img{
  width: 16px;
  position: absolute;
  bottom: 10px;
  margin-inline-start: 88px;
}
.tab-content  .form-select:focus-visible{
  border: 1px solid #dddc;
}
.tab-content .cashier-order__info .delivery-section{
  box-shadow: 1px 1px 6px 1px #dddddd9c;
  border-radius: 6px;
  padding: 12px 6px 6px;
  width: fit-content;
}
.tab-content .cashier-order__info .delivery-icon {
  width: 44px;
}
.tab-content .cashier-order__info .delivery-icon img {
  width: 56%;
}
.tab-content .cashier-order_info .form-control:disabled, 
.tab-content .cashier-order_info .form-control[readonly]{
  background-color: #fff !important; 
  border: 1px solid transparent;
  box-shadow: 3px 4px 8px 1px #dad7d7d1;
}
/*datapicker return order screen*/
.tab-content .cashier-order_info .e-date-wrapper:not(.e-filled) .e-date-icon.e-icons{
  color: #fff !important;
  background: #000 !important;
  border-radius: 4px !important;
  font-size: 17px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}
.pay-amount{
  font-size: 22px;
  background: #17a2b8;
  color: #fff;
  width: auto;
  display: flex;
  padding: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.tab-content  .return-order-info__table{
  border-radius: 6px;
  border: 1px solid #dddddd91;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
} 
.tab-content .return-order-info__table .delete-icon,
.tab-content .return-order-info__table .edit-icon{
  padding: 6px;
  font-size: 13px;
  border-radius: 5px;
}
.tab-content .return-order-info__table .delete-icon{
  color: red;
}
.tab-content .return-order-info__table .edit-icon {
  color: green;
}

.tab-content .return-order-info__table .fa-edit,
.tab-content .return-order-info__table .fa-trash-alt{
  font-size: 16px ;
}
.tab-content .return-order-info__table input[type="checkbox"]{
  border-color: transparent;
    /* font-size: 21px; */
    width: 16px;
    height: 16px;
}
.tab-content .return-order-info__table thead{
  background: #f2f2f2;
  color: #323a67;
  height: 9vh;
  vertical-align: middle;
}
.tab-content .return-order-info__table thead tr  > th{
  vertical-align: middle;
  border-bottom: none;
  text-align: center;
}
.tab-content .return-order-info__table tbody{
  text-align: center;
}
.tab-content .return-order-info__table tbody tr:hover{
  background-color: #dddddd5b;
}
.tab-content  .return-order-info__table .td__input input{
  width: 3rem;
  border: 1px solid #dddddd91;
  border-radius: 4px;
  padding: 2px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.tab-content .cashier-info__item{
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  display: block;
}
.tab-content .cashier-info__card{
  background: #4f8dca;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.tab-content .return-item__name .return-item__Qty .value{
  background: #4f8dca;
  padding: 2px 8px;
  border-radius: 11px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}
.tab-content .return-item__name .return-item__Qty .label{
  font-size: 12px;
}
.tab-content .cashier-info__payment .form-label{
  font-size: 18px;
}
.payment-price{
  padding: 6px;
    background: #4f8dca;
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
}
.w-80{
  width: 80%;
}
.fw-600{
  font-weight: 600;
}
.tab-content .return-product__card{
  background: #1f5175;
  padding: 6px;
  min-height: 124px;
  height: auto;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.tab-content .return-product__card .no-list__case{
  display: flex;
  justify-content: center;
  margin: 45px auto;
  color: #fff;
  font-size: 29px;
  font-weight: 600;
}
.tab-content  .select-all__return-items{
  background: #28a745;
  color: #fff;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.tab-content  .select-all__return-items input[type='checkbox']{
  width: 28px;
  height: 18px;
}
.tab-content .select-all__return-items  .label{
  padding-inline-start: 8px;
  font-size: 20px;
  vertical-align: bottom;
}
.tab-content .return-product__card  .return-item__name{
  margin: 4px auto;
  padding: 8px;
  text-align: center;
  background-color: #fff;
  border: 1px solid transparent;
}
.tab-content .return-product__card  .return-item__name .name{
  padding-top: 6px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.tab-content .return-product__card  .return-item__name:hover{
  background-color: #1f5175c2;
  color: #fff;
  border: 1px solid #dddddd96;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}
textarea{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
ej-gridmaster,
ej-griddetail {
  display: block;
}
.tab-content  .col-xl-2,
.tab-content  .col-md-2{
  padding-right: 2px;
  padding-left: 2px;
}
.tab-content .cashier-order__info .col-md-6{
  margin-bottom: 16px;
}
.e-statustext,
.e-mastertext {
  font-size: 15px;
  font-family: Roboto;
  opacity: 0.87;
  padding: 1em;
}
.remind-modal  .modal-dialog {
  max-width: 46rem !important;
}
.remind-modal .modal-body .remind-value{
  color: #fff;
  border-radius: 15px;
  margin-inline-start: 6px;
}
.remind-modal .modal-body .plus-muins__product a{
  background: #e5e2e2d1;
  font-size: 15px;
  width: 46px;
  text-align: center;
  padding: 13px 8px;
}
.remind-modal .modal-body .plus-muins__product .return-value__input{
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
  width: 85px;
}
.remind-modal .modal-body .plus-muins__product .minus {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.remind-modal .modal-body .plus-muins__product .plus{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}



.bg-green{
  background: #28a745;
}
.bg-red{
  background: red;
}

/*toggle btn*/
.toggle-btn{
  margin-inline-start: 15px;
}
.toggle-btn .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.toggle-btn .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-btn .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.toggle-btn .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 8px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

.toggle-btn input:checked + .slider {
  background-color: #2196F3;
}

.toggle-btn input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.toggle-btn input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  -moz-transform: translateX(26px);
  -o-transform: translateX(26px);
}

/* Rounded sliders */
.toggle-btn .slider.round {
  border-radius: 34px;
}

.toggle-btn .slider.round:before {
  border-radius: 50%;
}
@media (max-width:1368px){
  .tab-content  .col-md-3,
  .tab-content  .col-md-6,
  .tab-content  .col-xl-2{
    padding-right: 2px;
    padding-left: 2px;
  }
  .tab-content .return-item__name  .return-item__Qty  .label {
    font-size: 11px;
  }
  .tab-content .return-item__name .return-item__Qty .value {
    padding: 1px 6px;
    font-size: 12px;
  }
  .tab-content .return-item__name .name{
    font-size: 13px;
    padding-top: 6px;
  }

  .cashier-order__info .col-md-4{
    padding-left: 2px;
    padding-right: 2px;
  }
  .tab-content   .cashier-order__info  .form-label{
    font-size: 14px;
  }
  .tab-content    .cashier-order__info .col-md-6{
    margin-bottom: 11px;
  }
  .tab-content .return-order-info__table thead{
    height: 7vh;
    font-size: 14px;
  }
  .tab-content .return-order-info__table tbody td{
    font-size: 13px;
  }
  .tab-content  .select-all__return-items input[type='checkbox']{
    width: 22px;
    height: 15px;
  }
  .tab-content .select-all__return-items  .label{
    font-size: 16px;
    vertical-align: text-top;
  }

}
@media (max-width:1200px){
  .tab-content .return-order-info__table  .table thead tr  > th,
  .tab-content .return-order-info__table  .table tbody tr> td{
    font-size: 11px;
    padding: 0.2rem !important;
  }
  .tab-content .return-order-info__table .fa-edit,
  .tab-content .return-order-info__table .fa-trash-alt{
    font-size: 12px !important;
  }
}