.RadioBtns {
  display: flex;
  flex-wrap: wrap;
  label {
    min-width: fit-content;
    margin: 0.1rem !important;
    padding: 0.2rem 0.3rem !important;
    font-size: 19px;
  }
}

.fixTableHead {
  overflow-y: auto;
  height: 110px;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
  padding: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 15px;
  // border: 1px solid #212529;
}
th {
  background: #212529;
}
