<div class="col-md-12">
  <div class="ms-panel-fh">
    <div class="cont">
      <div class="ms-panel rounded">
        <div class="ms-panel-body clearfix py-2">
          <div class="row">
            <div class="col-md-12">
              <div class="row justify-content-center align-items-center">
                <div class="col-md-5 mb-1">
                  <div class="row">
                    <div class="col-md-2 d-flex justify-content-start align-items-center label1">
                      <label for="name"> From : </label>
                    </div>
                    <div class="col-md-8 paddingLeftz">
                      <div class="input-group editInputGroup">
                        <div style="line-height: 1.2" class="input-group-addon form-control-sm d-flex">
                          <i class="bi bi-clock"></i>
                        </div>
                        <div class="input-group">
                          <input
                            type="time"
                            class="form-control form-control-sm borderRadius"
                            name="FirstHour"
                            required />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 mb-1">
                  <div class="row pr-xs-0">
                    <div class="col-md-2 d-flex justify-content-start align-items-center label1">
                      <label for="secondHour"> To : </label>
                    </div>
                    <div class="col-md-8 paddingLeftz">
                      <div class="input-group editInputGroup">
                        <div style="line-height: 1.2" class="input-group-addon form-control-sm d-flex">
                          <i class="bi bi-clock"></i>
                        </div>
                        <div class="input-group">
                          <input
                            type="time"
                            id="secondHour"
                            class="form-control form-control-sm borderRadius"
                            name="secondHour"
                            required />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 justify-content-center align-items-center mb-2 d-flex">
              <perfect-scrollbar style="height: 5rem">
                <div class="btn-group RadioBtns bg-body rounded shadow-lg">
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Left "
                    tabindex="0"
                    role="button"
                    >Left</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Middle"
                    tabindex="0"
                    role="button"
                    >Middle</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Right"
                    tabindex="0"
                    role="button"
                    >Right</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Left "
                    tabindex="0"
                    role="button"
                    >Left</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Middle"
                    tabindex="0"
                    role="button"
                    >Middle</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Right"
                    tabindex="0"
                    role="button"
                    >Right</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Left "
                    tabindex="0"
                    role="button"
                    >Left</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Middle"
                    tabindex="0"
                    role="button"
                    >Middle</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Right"
                    tabindex="0"
                    role="button"
                    >Right</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Left "
                    tabindex="0"
                    role="button"
                    >Left</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Middle"
                    tabindex="0"
                    role="button"
                    >Middle</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Right"
                    tabindex="0"
                    role="button"
                    >Right</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Left "
                    tabindex="0"
                    role="button"
                    >Left</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Middle"
                    tabindex="0"
                    role="button"
                    >Middle</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Right"
                    tabindex="0"
                    role="button"
                    >Right</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Left "
                    tabindex="0"
                    role="button"
                    >Left</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Middle"
                    tabindex="0"
                    role="button"
                    >Middle</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Right"
                    tabindex="0"
                    role="button"
                    >Right</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Left "
                    tabindex="0"
                    role="button"
                    >Left</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Middle"
                    tabindex="0"
                    role="button"
                    >Middle</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Right"
                    tabindex="0"
                    role="button"
                    >Right</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Left "
                    tabindex="0"
                    role="button"
                    >Left</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Middle"
                    tabindex="0"
                    role="button"
                    >Middle</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Right"
                    tabindex="0"
                    role="button"
                    >Right</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Left "
                    tabindex="0"
                    role="button"
                    >Left</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Middle"
                    tabindex="0"
                    role="button"
                    >Middle</label
                  >
                  <label
                    class="btn btn-primary m-0"
                    [(ngModel)]="radioModel"
                    btnRadio="Right"
                    tabindex="0"
                    role="button"
                    >Right</label
                  >
                </div>
              </perfect-scrollbar>
            </div>
            <div class="col-md-12">
              <div class="fixTableHead" style="height: calc(100vh - 5rem)">
                <table class="table table-bordered table-striped">
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
