<app-breadcrumbs></app-breadcrumbs>
<form name="pricingclassesform" class="" #frmRef="ngForm" (ngSubmit)="(frmRef.form.valid)" novalidate>
  <app-pagetransactions
    (afterPag)="afterPag($event)"
    (quickEvents)="quickEvents($event)"
    [request]="request"
    [form]="frmRef"
    [service]="service"
    [formobj]="responseobj"
    [pagename]="pagename"
    [pageNumber]="pageNumber"></app-pagetransactions>

  <div class="col-md-12">
    <div class="ms-panel-fh">
      <div class=""></div>
      <div class="cont">
        <div class="ms-panel-body-1 clearfix">
          <div style="background: #fff" class="tab-content ms-panel">
            <!------------ first form ---------------->
            <div role="tabpanel" class="tab-pane active show fade in" id="tab133">
              <div class="col-xl-12 col-md-12 col-xs-12">
                <div class="p-2 row">
                  <div class="col-md-12">
                    <div class="row align-items-center">
                      <!--username-->
                      <div class="col-md-6 mb-3">
                        <div class="row">
                          <div class="col-md-4 d-flex justify-content-start align-items-center label1">
                            <label for="validationCustom19">
                              {{ "Shared.Name" | translate }}
                            </label>
                          </div>
                          <div class="col-md-8 paddingLeftz">
                            <div class="input-group editInputGroup">
                              <div class="input-group-addon">
                                <i class="fas fa-user fs-16"></i>
                              </div>
                              <div class="input-group">
                                <input
                                  type="text"
                                  placeholder=""
                                  name="Name"
                                  #Name="ngModel"
                                  [(ngModel)]="responseobj.Name"
                                  id="name_id"
                                  class="form-control borderRadius"
                                  disabled
                                  [required]="isRequired" />
                                <div *ngIf="(frmRef.submitted && Name.invalid) || (Name.invalid && Name.touched)">
                                  <div class="alert alert-danger editAlertCash" *ngIf="Name.errors.required">
                                    {{ "pointofsale.NameIsRequired" | translate }}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--ForeignName-->
                      <div class="col-md-6 mb-3">
                        <div class="row">
                          <div class="col-md-4 d-flex justify-content-start align-items-center label1">
                            <label for="validationCustom19"> {{ "customer.ForeignName" | translate }} : </label>
                          </div>
                          <div class="col-md-8 paddingLeftz">
                            <div class="input-group editInputGroup">
                              <div class="input-group-addon">
                                <i class="fas fa-user fs-16"></i>
                              </div>
                              <div class="input-group">
                                <input
                                  type="text"
                                  placeholder=""
                                  name="ForeignName"
                                  #ForeignName="ngModel"
                                  [(ngModel)]="responseobj.ForiegnName"
                                  id="ForeignName_id"
                                  disabled
                                  class="form-control borderRadius" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!--PaymentType-->
                      <div class="col-md-6 mb-3">
                        <div class="row">
                          <div class="col-md-4 d-flex justify-content-start align-items-center label1">
                            <label for="validationCustom19"> {{ "Shared.ExtraExpensesTypes" | translate }} : </label>
                          </div>
                          <div class="col-md-8 paddingLeftz">
                            <div class="input-group editInputGroup">
                              <div class="input-group-addon">
                                <i class="fas fa-user fs-16"></i>
                              </div>
                              <div class="input-group">
                                <ejs-combobox
                                  name="ExtraExpensesTypeDetail"
                                  #ExtraExpensesTypeDetail="ngModel"
                                  [(ngModel)]="responseobj.ExtraExpensesTypeDetail"
                                  [allowFiltering]="true"
                                  [autofill]="true"
                                  [dataSource]="ExtraExpensesTypeDetailList"
                                  placeholder="Select Payment Type"
                                  [fields]="Flds"
                                  class="form-control borderRadius"
                                  id="ExtraExpensesTypeDetail_id"
                                  [enabled]="false"
                                  [required]="isRequired"></ejs-combobox>
                              </div>
                              <div
                                class=""
                                *ngIf="
                                  (frmRef.submitted && ExtraExpensesTypeDetail.invalid) ||
                                  (ExtraExpensesTypeDetail.invalid && ExtraExpensesTypeDetail.touched)
                                ">
                                <div
                                  class="alert alert-danger editAlertCash"
                                  *ngIf="ExtraExpensesTypeDetail.errors.required">
                                  Extra Expenses Type is required
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 mb-3">
                        <div class="row">
                          <div class="col-md-4 d-flex justify-content-start align-items-center label1">
                            <label for="validationCustom19"> {{ "Shared.IsStopped" | translate }} : </label>
                          </div>
                          <div class="col-md-8 paddingLeftz">
                            <div class="input-group editInputGroup">
                              <div class="input-group">
                                <input
                                  type="checkbox"
                                  name="IsStopped"
                                  #IsStopped="ngModel"
                                  [(ngModel)]="responseobj.IsStopped"
                                  class="form-control borderRadius"
                                  disabled />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 mb-3">
                        <div class="row pl-xs-0 pl-sm-0">
                          <div class="col-md-4 d-flex justify-content-start align-items-center label1">
                            <label for="exampleFormControlTextarea1">
                              {{ "CashReceipt.lbldescription" | translate }} :
                            </label>
                          </div>
                          <div class="col-md-8 paddingLeftz">
                            <div class="input-group editInputGroup">
                              <textarea
                                name="Description"
                                #Description="ngModel"
                                [(ngModel)]="responseobj.Description"
                                class="form-control borderRadius"
                                id="description_id"
                                disabled></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
