#itemScorll {
  /*   flex-wrap: nowrap; */

  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.rowGroup {
  margin-left: 40px;
}

#GroupNav {
  flex-wrap: nowrap;
  padding-left: 10px;
}
#searchFeild {
}

.ms-panel.ms-panel-fh2 {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.ulItems {
}

.panelDetails {
  height: calc(40vh - 15rem);
  /*   overflow-y: auto; */
}

.lable {
  margin-top: 0.5rem;
}
.btnStore {
  margin-top: -1rem;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}

#titleDetails {
  text-align: center;
  background-color: #ffffff;
}

#titleDetails ul li {
  padding-left: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.btnStore {
  border: 1px solid #5b4b92;
}
.btn-outline-purple {
  color: #5b4b92;
  background-color: transparent;
  background-image: none;
  border-color: #5b4b92;
}

.btn-outline-purple:hover {
  color: #fff;
  background-color: #5b4b92;
}

#numDocument {
  font-size: 10px;
  color: rgb(168, 168, 168) !important;
}
a {
  font-size: 17px;
}

.e-grid .e-toolbar .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn.e-tbtn-txt .e-icons.e-btn-icon {
  color: #5b4b92;
}

span {
  color: #5b4b92;
}
.e-grid .e-toolbar .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn-text {
  color: #5b4b92;
}

.shortcuts .feat_section .shortcut_card {
  height: 150px;
  padding: 5px;
}

.date-tag {
  background-color: #b4b4b4;

  position: absolute;

  top: -10px;
  font-weight: bold;
  color: #fff;
}

#dateTra {
  color: #fff;
  padding: 2.5px;
  background-color: #5b4b92;
  margin-right: -20px;
}

.card-body {
  padding: 0.05rem;
  cursor: default;
}

.font-weight-bold {
  margin-top: 10px;
  color: #5b4b92;
  text-align: center;
  cursor: default;
}
.mb-0 {
  color: #5b4b92;
  text-align: center;
  cursor: default;
}

.h5 {
  margin-top: 10px;
  color: #5b4b92;
  font-size: small;
  text-align: center;
  margin-right: 5px;
}
.dateTransfer {
  color: #fff;
}

.hour {
  text-align: right;
  font-size: 11px;
  margin-top: 20px;
  cursor: default;
}
.hrr {
  margin-top: 0px;
  margin-bottom: 1px;
}

.desc {
  font-size: 12px;
  cursor: default;
  padding: 2px;
}

.btn-light {
  background-color: #fff;
}
.master {
  margin-bottom: 10px;
  background-color: #cce0f6;
  height: 100px;
  margin-top: 6px;
  padding-top: 2px;
}
