a {
  color: #007bff !important;
  cursor: pointer !important;
}
a:hover {
  color: #346092 !important;
  text-decoration: underline !important;
}
li {
  list-style: none !important;
}
.card {
  width: 40%;
  border-radius: 0.5rem;
  border: none;
  margin-top: 4rem;
  background-color: #fff;
  margin-bottom: 7rem;
}
