<!--reload-->
<div id="preloader-wrap">
  <div class="col-md-9 d-flex justify-content-center align-items-center">
    <!-- <div class="spinner spinner-7 text-center p-0 m-0 w-100">
      <img src="assets/images/new-logo-nobg.png"   class="" alt="spinner img" srcset="" width="150px" height="100px" />      <br />
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div> -->
    <div class="new-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<!-----start navbar-------->
<nav class="navbar justify-content-between align-items-center d-flex navbar-expand-sm navbar-light bg-light">
  <div class="dirEdit d-flex mt-1">
    <img src="assets/images/logo2.png" class="img-fluid logo22 pb-2 px-2" />
    <h1 class="restaurantName2 mr-4 navbar-brand navbar-brand-edit">Ultimate FERP</h1>
    <ul class="px-3 pt-3 mb-0">
      <!--start language-->
      <app-language></app-language>
      <!--end language-->
    </ul>
  </div>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="" id="navbarSupportedContent">
    <div class="form-inline my-lg-0">
      <button type="button" routerLink="/" class="btn btn-danger loginBtn">
        {{ "Shared.Login" | translate }}
      </button>
    </div>
  </div>
</nav>

<!----end navbar------->

<!--form reset-->
<div class="card cardForget m-auto shadow-lg">
  <h5 class="card-header borderb d-flex p-4">
    <i class="flaticon-secure-shield d-block px-2"></i>{{ "ResetPassword.PickANewPassword" | translate }}
  </h5>
  <div class="card-body">
    <div class="btn btn-danger p-1 fiixedForget" (click)="callkeyboard()">
      <i class="far fa-keyboard"></i>
      <p style="font-size: 13px" class="p-0 m-0">Keyboard</p>
    </div>
    <div class="container" *ngIf="showform">
      <form
        name="form"
        (ngSubmit)="frmRef.form.valid && onSubmit()"
        #frmRef="ngForm"
        [mustMatch]="['Password', 'ConfirmPassword']"
        novalidate>
        <div class="row form-group">
          <div class="col-md-4">
            <label for="password" class="labelReset">{{ "Shared.Password" | translate }}</label>
          </div>
          <div class="col-md-8">
            <input
              type="password"
              autocomplete="new-password"
              name="Password"
              #Password="ngModel"
              placeholder="{{ 'Shared.Password' | translate }}"
              [(ngModel)]="Resetobj.Password"
              type="password"
              class="form-control Prelative"
              required />
            <div *ngIf="(frmRef.submitted && Password.invalid) || (Password.invalid && Password.touched)">
              <div class="alert alert-danger" *ngIf="Password.errors.required">
                {{ "ResetPassword.PasswordIsRequired" | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4">
            <label for="confirm_password" class="labelReset">{{ "Shared.ConfirmPassword" | translate }}</label>
          </div>
          <div class="col-md-8">
            <input
              autocomplete="new-password"
              name="ConfirmPassword"
              #ConfirmPassword="ngModel"
              [(ngModel)]="Resetobj.ConfirmPassword"
              type="password"
              placeholder="{{ 'Shared.ConfirmPassword' | translate }}"
              class="form-control"
              required />
            <div
              *ngIf="
                (frmRef.submitted && ConfirmPassword.invalid) || (ConfirmPassword.invalid && ConfirmPassword.touched)
              "
              class="alert alert-danger">
              <div *ngIf="ConfirmPassword.errors.required">
                {{ "Shared.ConfirmPasswordIsRequired" | translate }}
              </div>
              <div *ngIf="ConfirmPassword.errors.mustMatch">
                {{ "Shared.PasswordDoesNotMatch" | translate }}
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-danger submitRST" type="submit">
          {{ "Shared.Submit" | translate }}
        </button>
      </form>
    </div>
    <div class="container" *ngIf="showlink">
      <div class="row form-group">
        <div class="col-md-12">
          <p>
            {{ "ResetPassword.CongratulationsYouHaveSuccessfullyChangedYourPassword" | translate }}
          </p>
        </div>
        <div class="col-md-12">
          <a [routerLink]="['/dashboard']"> Continue to POS </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!----------------------------Model alert-------------------------------------------------------->

<div class="modal fade" id="modal-passwordreset" tabindex="-1" role="dialog" aria-labelledby="modal-passwordreset">
  <div class="modal-dialog modal-dialog-centered modal-min" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onModelClose()">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="flaticon-tick-inside-circle d-block"></i>
        <h3 class="modelh3">{{ "ResetPassword.ResetPassword" | translate }}</h3>
        <p>
          {{ Message }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-passworderror" tabindex="-1" role="dialog" aria-labelledby="modal-passworderror">
  <div class="modal-dialog modal-dialog-centered modal-min" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="flaticon-information"></i>
        <h3 class="modelh3">{{ "ResetPassword.ResetPassword" | translate }}</h3>
        <p>
          {{ Message }}
        </p>
      </div>
    </div>
  </div>
</div>
