.ms-error-404 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url(../../../assets/images/bg1.jpg);
  background-size: cover;
  background-position: center center;
  opacity: 1;
}
.ms-error-404::before,
.ms-lock-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
}
.font-weight-boldest {
  font-weight: 700;
}
.text-dark-75 {
  color: #3f4254 !important;
}
