<!-- Body Content Wrapper -->
<app-breadcrumbs></app-breadcrumbs>
<div class="col-lg-12">
  <div class="ms-card">
    <div class="ms-card-body">
      <ejs-grid
        #grid
        id="Grid"
        [dataSource]="responseobj.List"
        [allowPaging]="true"
        [pageSettings]="pageSettings"
        [allowSorting]="true"
        [allowFiltering]="true"
        [filterSettings]="filterOptions"
        [toolbar]="toolbarOptions"
        (rowSelected)="onRowSelected($event)"
        [allowGrouping]="true"
        [allowPdfExport]="true"
        [allowExcelExport]="true"
        (toolbarClick)="toolbarClick($event)">
        <e-columns>
          <e-column field="Name" headerText="{{ 'Shared.Name' | translate }}" textAlign="center"></e-column>
          <e-column
            field="ForiegnName"
            headerText="{{ 'customer.ForeignName' | translate }}"
            textAlign="center"></e-column>
          <e-column
            field="IsStopped"
            headerText="{{ 'Shared.InActive' | translate }}"
            editType="booleanedit"
            width="150"
            type="boolean"
            [allowFiltering]="false"
            [allowSorting]="false">
            <ng-template #template let-data>
              <div>
                <input type="checkbox" disabled name="IsStopped" id="IsStopped" [checked]="data.IsStopped" />
              </div>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>
</div>
