<!-- Main Content -->
<main class="row p-0 body-content ms-error-404 d-flex align-items-start">
  <!-- Body Content Wrapper -->
  <div class="col-md-12 ms-content-wrapper">
    <!-- <i class="flaticon-computer"></i> -->
    <h1>Error 403</h1>
    <h3>Oops! This is a Forbidden area</h3>
    <!-- <p>The link you followed may be broken, or the page has been removed</p> -->
    <!-- <a href="../../index.html" class="btn btn-white"> <i class="material-icons">arrow_back</i> Back Home</a> -->
    <a [routerLink]="['/home']" class="btn btn-white"> <i class="material-icons">arrow_back</i> Back Home</a>
  </div>
</main>
