.manageInsuranceOrderScroll {
  height: 9rem;
}
.chiller_cbbbb {
  position: relative;
  display: inline-flex;
  padding: 0 0.5rem !important;
  border-radius: 3px;
  height: 3rem;
  align-items: center;
  overflow: hidden;
}
