#itemScorll {
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
}

/* #searchFeild {
  margin-right: 0;
  padding-top: 8px;
  padding-right: 5px;
  padding-left: 5px;
} */

.lable {
  margin-top: 0.5rem;
}
.btnStore {
  margin-top: -1rem;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}

#titleDetails {
  text-align: center;
  background-color: #ffffff;
}

#titleDetails ul li {
  padding-left: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.btnStore {
  border: 1px solid #5b4b92;
}
.btn-outline-purple {
  color: #5b4b92;
  background-color: transparent;
  background-image: none;
  border-color: #5b4b92;
}

.btn-outline-purple:hover {
  color: #fff;
  background-color: #5b4b92;
}

#numDocument {
  font-size: 10px;
  color: rgb(168, 168, 168) !important;
}

.e-grid .e-toolbar .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn.e-tbtn-txt .e-icons.e-btn-icon {
  color: #5b4b92;
}

span {
  color: #5b4b92;
}
.e-grid .e-toolbar .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn-text {
  color: #5b4b92;
}
.group-section {
  background: #b0bcd9;
  padding: 4px;
  box-shadow: 0 1px 6px 1px rgb(176 188 217 / 53%);
  max-height: 32vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.group-section .nav-tabs-editM li a {
  font-size: 11px !important;
  height: 58px;
  width: 95%;
  font-weight: 200;
  cursor: pointer;
  overflow: hidden;
}
.group-section .nav-tabs li > a {
  display: block;
  padding: 4px;
}
.group-section .col-lg-2 {
  padding-right: 0;
  padding-left: 0;
}
.presentaion-section {
  background: #2a3549;
  padding: 4px;
  box-shadow: 0 1px 6px 1px #2a35497d;
  max-height: 45vh;
  min-height: 45vh;
  overflow-y: scroll;
}
.presentaion-section ul li {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.presentaion-section .nav-tabs-editM li a {
  font-size: 11px !important;
  height: 58px;
  width: 97%;
  font-weight: 200;
  cursor: pointer;
  overflow: hidden;
}
.presentaion-section .col-lg-12 {
  padding-right: 2px;
  padding-left: 2px;
}
.masterStyle {
  background: #cce0f6;
  padding: 12px;
  border-radius: 6px;
}
.masterStyle .lable {
  font-size: 14px;
  font-weight: 600;
}
.table .quantiy {
  width: 62px;
  text-align: center;
}
.table .desc {
  width: 95px;
}
.table .quantiy .form-control {
  font-size: 12px;
  text-align: center;
}
.table .fa-edit {
  font-size: 17px !important;
  color: #1a9f3d;
  font-weight: 700;
}
.table .fa-trash-alt {
  color: red;
  font-weight: 600;
  font-size: 17px;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #edeaea;
  transition: all 0.8s ease-in-out;
}
.group-section-item li {
  cursor: pointer;
  width: 100%;
}
.nav-tabs-editM.groupsUl li a {
  background: #fff;
}
