.hide {
  display: none !important;
}
.hiddenRow {
  padding: 0 !important;
}
label {
  margin-bottom: 0 !important;
}
.editAlertCash {
  position: unset !important;
}
.text-danger {
  color: #dc3545; /* Bootstrap danger color */
}
