<!--reload-->
<div id="preloader-wrap">
  <div class="col-md-9 d-flex justify-content-center align-items-center">
    <!-- <div class="spinner spinner-7 text-center p-0 m-0 w-100">
      <img src="assets/images/new-logo-nobg.png"   class="" alt="spinner img" srcset="" width="150px" height="100px" />
      <br />
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div> -->
    <div class="new-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<!-----start navbar-------->
<nav class="navbar justify-content-between align-items-center d-flex navbar-expand-sm navbar-light bg-light">
  <div class="dirEdit d-flex mt-1">
    <img src="assets/images/logo2.png" class="img-fluid logo22 pb-2 px-2" />
    <h1 class="restaurantName2 mr-4 navbar-brand navbar-brand-edit">
      {{ "Layout.Ultimate FERP" | translate }}
    </h1>

    <ul class="px-3 pt-3 mb-0">
      <!--start language-->
      <app-language></app-language>
      <!--end language-->
    </ul>
  </div>

  <div class="" id="navbarSupportedContent">
    <div class="form-inline my-lg-0">
      <button type="button" routerLink="/" class="btn btn-danger loginBtn">
        {{ "Shared.Login" | translate }}
      </button>
    </div>
  </div>
</nav>

<!----end navbar------->
<div class="card cardForget m-auto shadow-lg">
  <h5 class="card-header d-flex borderb p-4">
    <i class="flaticon-secure-shield d-block px-2"></i>{{ "ForgetPassword.RecoverPassword" | translate }}
  </h5>
  <div class="card-body">
    <div class="container">
      <div class="ms-panel-body ms-contant">
        <div class="btn btn-danger p-1 fiixedForget" (click)="callkeyboard()">
          <i class="far fa-keyboard"></i>
          <p style="font-size: 13px" class="p-0 m-0">Keyboard</p>
        </div>
        <!--form-->
        <form (ngSubmit)="frmRef.form.valid && onSubmit()" #frmRef="ngForm">
          <p class="pargh">
            {{ "ForgetPassword.WeWillSendYouInstructionsOnHowToResetYourPasswordByEmail" | translate }}
          </p>
          <div class="form-group">
            <label class="labelReset" for="email">{{ "Shared.Email" | translate }}</label>
            <input
              name="Email"
              #Email="ngModel"
              [(ngModel)]="Forgotobj.Email"
              placeholder="{{ 'ForgetPassword.EnterYourEmail' | translate }}"
              class="form-control"
              required
              email />
            <div
              *ngIf="(frmRef.submitted && Email.invalid) || (Email.invalid && Email.touched)"
              class="alert alert-danger">
              <div *ngIf="Email.errors.required">
                {{ "ForgetPassword.EmailIsRequired" | translate }}
              </div>
              <div *ngIf="Email.errors.email">
                {{ "ForgetPassword.PleaseEnterAValidEmailAddress" | translate }}
              </div>
            </div>
          </div>
          <button
            [disabled]="!frmRef.submitted && Email.invalid && !Email.errors.email"
            (click)="loading()"
            class="btn btn-danger w-100 d-block"
            type="submit">
            {{ "ForgetPassword.EmailMeARecoveryLink" | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!----------------------------Model alert-------------------------------------------------------->

<div class="modal fade" id="modal-emailsent" tabindex="-1" role="dialog" aria-labelledby="modal-emailsent">
  <div class="modal-dialog modal-dialog-centered modal-min" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="flaticon-tick-inside-circle d-block"></i>
        <h3 class="modelh3">
          {{ "ForgetPassword.RecoverPassword" | translate }}
        </h3>
        <p>
          {{ Message }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-emailerror" tabindex="-1" role="dialog" aria-labelledby="modal-emailerror">
  <div class="modal-dialog modal-dialog-centered modal-min" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="flaticon-information"></i>
        <h3 class="modelh3">
          {{ "ForgetPassword.RecoverPassword" | translate }}
        </h3>
        <p>
          {{ Message }}
        </p>
      </div>
    </div>
  </div>
</div>
