<app-breadcrumbs></app-breadcrumbs>

<div class="col-lg-12">
  <div class="ms-card">
    <div class="ms-card-body">
      <ejs-grid
        #grid
        id="Grid"
        [dataSource]="responseobj.List"
        [allowPaging]="true"
        [pageSettings]="pageSettings"
        [allowSorting]="true"
        [allowFiltering]="true"
        [filterSettings]="filterOptions"
        [toolbar]="toolbarOptions"
        (rowSelected)="onRowSelected($event)"
        [allowGrouping]="true"
        [allowPdfExport]="true"
        [allowExcelExport]="true"
        (toolbarClick)="toolbarClick($event)">
        <e-columns>
          <e-column field="Name" headerText="{{ 'Reports.GroupName' | translate }}" textAlign="center"></e-column>
          <e-column headerText="{{ 'delivery.Actions' | translate }}" textAlign="center">
            <ng-template #template let-data>
              <div class="center d-flex justify-content-around align-items-center">
                <button
                  style="min-width: fit-content !important"
                  type="button"
                  (click)="onResourceSetPermission($event)"
                  class="btn btn-info p-1 has-icon m-0">
                  {{ "permission.SetPermissions" | translate }}
                </button>
                <button
                  style="min-width: fit-content !important"
                  type="button"
                  (click)="onResourceSetUser($event)"
                  class="btn btn-success p-1 has-icon m-0">
                  {{ "Shared.SetUser" | translate }}
                </button>
              </div>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>
</div>
