<div *ngIf="showSpinner" id="preloader-wrap2">
  <!-- <div class="col-md-9 d-flex justify-content-center align-items-center">
    <div class="spinner spinner-7 text-center p-0 m-0 w-100">
      <img src="assets/images/new-logo-nobg.png"   class="" alt="spinner img" srcset="" width="150px" height="100px" />      <br />
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div> -->
  <div class="new-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
