/* .spinner{
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top:50%;
    left: 50%;
    position: absolute;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg);}
} */
/* 
.lds-ellipsis {
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 45%;
}
.lds-ellipsis div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #337ab7;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
} */

.new-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.new-spinner div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: newSpinner 1.2s linear infinite;
  -webkit-animation: newSpinner 1.2s linear infinite;
}
.new-spinner div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.new-spinner div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.new-spinner div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.new-spinner div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.new-spinner div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.new-spinner div:nth-child(6) {
  top: 56px;
  left: 8px;
  animation-delay: -1.2s;
}
@keyframes newSpinner {
  0%,
  100% {
    background-color: #f04e09;
  }
  50% {
    background-color: #fff;
  }
}
