section {
  width: 100%;
  overflow-y: scroll;
  height: 100vh;
  .perpare-section,
  .ready-section {
    width: 50%;
    text-align: center;
    color: #fff;
    h1 {
      padding: 18px 4px;
      margin-bottom: 12px;
      font-size: 40px;
    }
    .num {
      text-shadow: 0px 3px #40403f;
      font-weight: 600;
      font-size: 85px;
    }
    .row {
      > .col-3 {
        margin: 10px 0px;
      }
    }
  }

  .perpare-section {
    background: #05488c;
    .fa-fire {
      color: #ffb302;
    }
  }
  .ready-section {
    background: #000;
    .fa-utensils {
      color: #0dc30d;
    }
    img {
      height: 81px;
      position: relative;
      top: -17px;
      padding-inline-end: 8px;
    }
  }
}
