<!-- <img src="assets/images/EmailCode.jpeg" alt="EmailCode"> -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="back" routerLink="/POSsettings/">
          <i class="fa fa-arrow-circle-left"></i>
        </div>
      </div>
      <div class="col-6">
        <div class="widget">
          <div class="container-fluid">
            <h4>Create & use App Passwords</h4>
            <div class="content">
              <ol type="1">
                <li>
                  <p>
                    Go to the Google
                    <a href="https://support.google.com/accounts/answer/27441?hl=en&ref_topic=338" class="text-primary"
                      >Account sign in page
                      <i class="fa fa-external-link px-2" aria-hidden="true"></i>
                    </a>
                  </p>
                </li>
                <li>
                  <p>Select <b>Security</b></p>
                </li>
                <li>
                  <p>
                    Under "Signing in to Google," select <b>App Passwords</b>. You may need to sign in. If you don't
                    have this option, it might be because:
                  </p>
                  <ol type="a" class="sub-menu">
                    <li><h6>App Passwords</h6></li>
                    <li>
                      <h6>2-Step Verification is only set up for security keys.</h6>
                    </li>
                    <li>
                      <h6>Your account is through work, school, or other organization.</h6>
                    </li>
                    <li><h6>You turned on Advanced Protection</h6></li>
                  </ol>
                </li>
                <li>
                  <p>
                    At the bottom, choose <b>Select app</b> and choose the app you using <b>Select device</b> and choose
                    <b>Select device</b>
                  </p>
                </li>
                <li>
                  <p>
                    Follow the instructions to enter the App Password. The App Password is the 16-character code in the
                    yellow bar on your device.
                  </p>
                </li>
                <li>
                  <p>Tap <b>Done</b></p>
                </li>
              </ol>
              <p><b>Tip:</b> Most of the time, you'll only have to ente App Password once per app or device, so don•</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="content-img">
          <img src="assets/images/EmailCode.jpeg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
