<app-breadcrumbs></app-breadcrumbs>
<form name="pricingclassesform" class="" #frmRef="ngForm" (ngSubmit)="(frmRef.form.valid)" novalidate>
  <app-pagetransactions
    (afterPag)="afterPag($event)"
    (quickEvents)="quickEvents($event)"
    [request]="request"
    [form]="frmRef"
    [service]="service"
    [formobj]="responseobj"
    [pagename]="pagename"
    [pageNumber]="pageNumber"></app-pagetransactions>

  <div class="col-md-12">
    <div class="ms-panel-fh">
      <div class=""></div>
      <div class="cont">
        <div class="ms-panel-body-1 clearfix">
          <div style="background: #fff" class="tab-content ms-panel">
            <!------------ first form  Value ---------------->
            <div role="tabpanel" class="tab-pane active show fade in" id="tab133">
              <div class="col-xl-12 col-md-12 col-xs-12">
                <div class="p-2 row">
                  <div class="col-md-12">
                    <div class="row align-items-center">
                      <!--Value-->
                      <div class="col-md-6 mb-3">
                        <div class="row">
                          <div class="col-md-4 d-flex justify-content-start align-items-center label1">
                            <label for="validationCustom19">
                              {{ "Shared.Value" | translate }}
                            </label>
                          </div>
                          <div class="col-md-8 paddingLeftz">
                            <div class="input-group editInputGroup">
                              <div class="input-group-addon">
                                <i class="fas fa-user fs-16"></i>
                              </div>
                              <div class="input-group">
                                <input
                                  [numbersOnly]="responseobj.Value"
                                  [allowDecimals]="true"
                                  name="Value"
                                  #Value="ngModel"
                                  [(ngModel)]="responseobj.Value"
                                  id="Value_id"
                                  class="form-control borderRadius"
                                  disabled
                                  [required]="isRequired" />
                                <div *ngIf="(frmRef.submitted && Value.invalid) || (Value.invalid && Value.touched)">
                                  <div class="alert alert-danger editAlertCash" *ngIf="Value.errors.required">
                                    Value Is required
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
