<app-breadcrumbs></app-breadcrumbs>
<div class="col-lg-12">
  <div class="ms-card">
    <div class="ms-card-body">
      <ejs-grid
        #grid
        id="Grid"
        [dataSource]="responseobj.List"
        [allowPaging]="true"
        [pageSettings]="pageSettings"
        [allowSorting]="true"
        [allowFiltering]="true"
        [filterSettings]="filterOptions"
        [toolbar]="toolbarOptions"
        (rowSelected)="onRowSelected($event)"
        [allowGrouping]="true"
        [allowPdfExport]="true"
        [allowExcelExport]="true"
        (toolbarClick)="toolbarClick($event)"
        [editSettings]="editOptions">
        <e-columns>
          <e-column
            field="Name"
            headerText="{{ 'Shared.Name' | translate }}"
            [isPrimaryKey]="true"
            textAlign="center"></e-column>
          <e-column
            field="ForeignName"
            headerText="{{ 'customer.ForeignName' | translate }}"
            textAlign="center"></e-column>
          <e-column
            field="IsSync"
            headerText="{{ 'Shared.IsSync' | translate }}"
            editType="booleanedit"
            type="boolean"
            [allowFiltering]="false"
            [allowSorting]="false">
            <ng-template #template let-data>
              <div>
                <input type="checkbox" disabled name="IsSync" id="IsSync" [checked]="data.IsSync" />
              </div>
            </ng-template>
          </e-column>
          <e-column headerText="{{ 'delivery.Actions' | translate }}" textAlign="center">
            <ng-template #template let-data>
              <div class="justify-content-center d-flex align-items-center">
                <!-- <button *ngIf="!data.IsSync && showDelete else false" style="min-width: fit-content !important" type="button" (click)="onResourceEdit($event)" class="btn  btn-info p-1 has-icon m-0"><i class="fa m-0  fa-pencil"></i> {{'pagetransactions.Edit'|translate}} </button>

                  <button *ngIf="!data.IsSync && showDelete else false" style="min-width: fit-content !important" type="button" (click)="onResourceDelete($event)" class="btn  btn-danger p-1 has-icon my-0 mx-1"><i class="fa m-0 fa-trash"></i> {{'pagetransactions.Delete'|translate}} </button> -->

                <button
                  style="min-width: fit-content !important"
                  type="button"
                  (click)="assignTaxToProducts($event)"
                  class="btn btn-success p-1 has-icon m-0">
                  <i class="fa m-0 fa-link"></i>
                  {{ "tax.assigntaxproducts" | translate }}
                </button>
              </div>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>
</div>
