name: E2E Regression Test

on:
  push:
    branches:
      - main

jobs:
  regression-tests:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout project A
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y wget unzip curl xvfb git

      - name: Install Chrome 128 LTS
        run: |
          wget https://storage.googleapis.com/chrome-for-testing-public/128.0.6613.137/linux64/chrome-linux64.zip
          unzip chrome-linux64.zip
          sudo mv chrome-linux64 /usr/local/share/chrome-128
          sudo rm -f /usr/bin/google-chrome
          sudo ln -s /usr/local/share/chrome-128/chrome /usr/bin/google-chrome

      - name: Install ChromeDriver 128
        run: |
          wget https://storage.googleapis.com/chrome-for-testing-public/128.0.6613.137/linux64/chromedriver-linux64.zip
          unzip chromedriver-linux64.zip
          sudo mv chromedriver-linux64/chromedriver /usr/local/bin/
          sudo chmod +x /usr/local/bin/chromedriver

      - name: Set up Maven
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Use Node 16
        uses: actions/setup-node@v4
        with:
          node-version: '16'

      - name: Start Backend (Production)
        run: |
            cd POS-19-10-2025/POS-BackPublish
            echo "Starting Backend (Production)..."
            nohup dotnet POS.Web.dll --urls=http://0.0.0.0:56740 > backend.log 2>&1 &
            
            echo "Waiting for Backend to be ready..."
            for i in {1..60}; do
            if nc -z localhost 56740; then
             echo "✅ Backend ready!"
             break
            fi
            echo "Backend not ready yet ($i/60)"
            sleep 2
            done
            
            # Frontend
      - name: Start Frontend (Production)
        run: |
          cd POS-19-10-2025/POS-Front-19-10-2025
          echo "Starting Frontend (Production)..."
          npm install -g http-server
          http-server ./dist/POS-Front-19-10-2025 -p 4200 > frontend.log 2>&1 &

          echo "Waiting for Frontend to be ready..."
          FRONTEND_READY=false
          for i in {1..120}; do
            if curl -s http://localhost:4200/ >/dev/null; then
              echo "✅ Frontend ready!"
              FRONTEND_READY=true
              break
            fi
            echo "Frontend not ready yet ($i/120)"
            sleep 2
          done

          if [ "$FRONTEND_READY" = false ]; then
            echo "❌ Frontend failed to start in 4 minutes!"
            cat frontend.log
            exit 1
          fi
      
      

      - name: Checkout Project B
        run: |
          git clone https://github.com/teamtester60-code/Full-Test-Case.git projectB
          cd projectB
          git checkout main

      - name: Run Regression Tests (project B)
        working-directory: projectB
        run: mvn clean test -DbrowserType="Chrome" -DexecutionType="localHeadless" -Dmaven.test.failure.ignore=true


      - name: Upload test reports
        uses: actions/upload-artifact@v5
        with:
          name: test-reports
          path: projectB/test-output/reports/**/*.html
