name: Run Workflow Automation

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

env:
  TARGET: "com.ferpfirstcode.tests.**"

jobs:
  workflow-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        browser: [Chrome, Edge]

    permissions:
      checks: write

    steps:
      # 1️⃣ Checkout Main Project
      - name: Checkout Main Repository
        uses: actions/checkout@v6

      # 2️⃣ Checkout Workflow Repository
      - name: Checkout Workflow Repository
        uses: actions/checkout@v6
        with:
          repository: teamtester60-code/Full-Test-Case
          path: FirstProjectFERP   # اسم المجلد داخل الـ runner

      # 3️⃣ Setup Java
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      # 4️⃣ Setup Maven
      - name: Setup Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.9

      # 5️⃣ Run Tests
      - name: Run Workflow Automation
        working-directory: FirstProjectFERP
        continue-on-error: false
        run: mvn clean test -Dsurefire.failIfNoSpecifiedTests=false -DbrowserType="${{ matrix.browser }}"

      # 6️⃣ Upload Test Results
      - name: Upload Test Results
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.browser }}_${{ matrix.os }}_Report
          path: FirstProjectFERP/test-output/reports/*.html
