name: E2E Regression Test

on:
  push:
    branches:
      - main

jobs:
  regression-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # تثبيت Chrome LTS 128
      - name: Install Chrome 128 LTS
        run: |
          wget https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_128.0.6613.137-1_amd64.deb
          sudo apt install -y ./google-chrome-stable_128.0.6613.137-1_amd64.deb

      # تثبيت ChromeDriver 128 المتوافق
      - name: Install ChromeDriver 128
        run: |
          wget https://storage.googleapis.com/chrome-for-testing-public/128.0.6613.137/linux64/chromedriver-linux64.zip
          unzip chromedriver-linux64.zip
          sudo mv chromedriver-linux64/chromedriver /usr/local/bin/
          sudo chmod +x /usr/local/bin/chromedriver

      # تثبيت Java/Maven
      - name: Set up Java & Maven
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "maven"

      # تشغيل الاختبارات
      - name: Run Regression Tests
        run: mvn clean test -DbrowserType="Chrome" -Dmaven.test.failure.ignore=true

      # رفع تقارير الاختبارات
      - name: Upload test reports
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: test-output/reports/**/*.html
